
.slideChildrenContainer--carousel{
    height: 300px;
}
/* Ajustamos margenes */
.sliderLayoutContainer--home__slider{
    max-width: 1200px;
    margin: 0 auto 50px;
}

.paginationDotsContainer--home__slider{
    transform: translateY(30px);
    /* bajamos los puntos del slide */
}

.imageElement--home__slider{
    /* Ajustamos la altura del slide */
    max-height: initial !important ;
}

.sliderArrows--home__slider_promo{
    margin-right: 50px;
    margin-left: 50px;
    color: white;
}

/* responsive slider  mobilw*/
@media (max-width: 420px) {
    .sliderLayoutContainer--home__slider_promo{
        padding-left: 0px; 
        padding-right: 0px;
    }
  }

