/* textos links home  */
.paragraph--home__section--title {
    color: blue
}

.paragraph--button_link_supermercado {
    background-color: rgb(79, 222, 32);
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;

}

.paragraph--button_link_drogueria {
    background-color: rgb(32, 54, 222);
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Montserrat';

}

.paragraph--button_link_electrodomesticos {
    background-color: rgb(222, 149, 32);
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Montserrat';
}

/* texto del header desktop */
.paragraph--Categorias_link {
    color: white;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: bold;
}

@media (max-width: 600px) {
    .paragraph--Categorias_link {
        color: white;
        font-size: 27px;
    }
}

.container--Listas_pedidos__Desktop {
    width: 100px;
    color: white;
}

.paragraph--Listas_pedidos__Desktop {
    margin-left: 20px;
    color: white;
}

.paragraph--text_carrito_desktop {
    color: white;
    margin-top: 4px;
    font-size: 12px;
    font-family: 'Montserrathin';
    font-weight: bold;
}

/* texto listas de pedidos */

.paragraph--botonLinkeable_listas-pedidos {
    font-style: normal;
    margin-top: 4px;
    font-size: 12px;
    font-family: 'Montserrathin';
    font-weight: bold;
}

/* botones link del home */
.paragraph--botonLinkeable_olimpica_text--desktop {
    color: rgb(255, 255, 255);
    margin-left: 5px;
    margin-right: 5px;
    /*  margin-bottom: 50px; */
    font-size: 15px;
}

.paragraph--botonLinkeable {
    color: white;
    margin-left: 5px;
    margin-right: 5px;

}

@media (max-width: 688px) {
    .paragraph--botonLinkeable {
        color: white;
        font-size: 10px;
    }
}

@media (max-width: 420px) {
    .paragraph--botonLinkeable {
        display: none;
    }
}

.paragraph--botonLinkeable_2 {
    color: rgb(6, 110, 214);
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 688px) {
    .paragraph--botonLinkeable_2 {
        color: rgb(6, 110, 214);
        font-size: 9px;
    }
}

.paragraph--botonLinkeable_3 {
    color: rgb(214, 6, 6);
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}

@media (max-width: 688px) {
    .paragraph--botonLinkeable_3 {
        color: rgb(214, 6, 6);
        font-size: 9px;
    }
}

.wrapper--botonLinkeable_listas-pedidos {
    width: 100px;
    color: white;
    text-align: center;

}

.wrapper--botonLinkeable_mobile {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 40px;
}



/* notification bar */

.paragraph--Barra-Notificaciones {
    width: 200px;
    color: white;
}

.paragraph--Barra-Notificaciones_viajar {
    width: 200px;
    color: white;
}

.paragraph--Barra-Notificaciones_tarjeta {
    width: 200px;
    color: white;


}

.container--Barra-Notificaciones_viajar {
    margin-left: 500px;

}

.paragraph--Barra-Notificaciones_tarjeta {
    margin-left: 150px;
}

.wrapper--botonLinkeable{
    font-size: 15px;
}

/* footer */
.paragraph--txt_col_one-footer{
    color: rgb(193, 196, 198);
}

