/* Link ventas */
.childrenContainer--botonLinkeable_venta{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 30px;
    margin-top: 10px;
   }

   .link--botonLinkeable_venta_venta_telefonica{
    border-radius: 20px;
    margin: auto;
    background-color: none;
    font-size: 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}
/* Link supermercado */
.childrenContainer--botonLinkeable_supermercado{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 30px;
   }

   .link--botonLinkeable_supermercado{
    border-radius: 20px;
    margin: auto;
    background-color: rgb(37, 202, 70);
    font-size: 25px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}
/* Link Drogueria */
.childrenContainer--botonLinkeable_medicine{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 30px;
   }

   .link--botonLinkeable_medicine{
    border-radius: 20px;
    margin: auto;
    background-color: rgb(37, 64, 202);
    font-size: 25px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}
/* Link Electrodomesticos */
.childrenContainer--botonLinkeable_tvicon{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 30px;
   }

   .link--botonLinkeable_tvicon{
    border-radius: 20px;
    margin: auto;
    background-color: rgb(223, 143, 14);
    font-size: 25px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}
/* Link Catalogo */
.childrenContainer--botonLinkeable_catalogo-icon{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 30px;
   }

   .link--botonLinkeable_catalogo-icon{
    border-radius: 20px;
    margin: auto;
    background-color:none;
    font-size: 25px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}
/* Link Nuestras Tiendas */
.childrenContainer--botonLinkeable_nuestras-tiendas{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 30px;
   }

   .link--botonLinkeable_nuestras-tiendas{
    border-radius: 20px;
    margin: auto;
    background-color:none;
    font-size: 25px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}

/* Metodo de envio */
.childrenContainer--botonLinkeable_metodo_de_envio{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 30px;
    
   }

   .link--botonLinkeable_metodo_de_envio{
    border: 1px solid rgb(217, 212, 212);
    border-radius: 20px;
    margin: auto;
    background-color:none;
    font-size: 25px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}
/* cuidad */
.childrenContainer--botonLinkeable_cuidad{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 30px;
    
   }

   .link--botonLinkeable_cuidad{
    border: 1px solid rgb(217, 212, 212);
    border-radius: 20px;
    margin: auto;
    background-color:none;
    font-size: 25px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}
/* ..............Link Listas de pedidos del header desktop................. */
.childrenContainer--botonLinkeable_listas-pedidos{
    display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;
   
   }

   .link--botonLinkeable_listas-pedidos{
    border-radius: 20px;
    margin: auto;
    background-color:none;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}
/* ..............Link Categorias del header desktop................. */
.childrenContainer--botonLinkeable_olimpica_text--desktop{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:left;
    align-items:center;
    align-content:center;
    height: 30px;
    margin-left: 20px;
   }

   .link--botonLinkeable_olimpica_text--desktop{
    border-radius: 20px;
    margin: auto;
    background-color:none;
    font-size: 25px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}
/* ..............Link Categorias del header mobile................. */
.childrenContainer--botonLinkeable_categorias_header-mobile{
    margin-top: 35px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 30px;
   }

   .link--botonLinkeable_categorias_header-mobile{
    border-radius: 20px;
    margin: auto;
    background-color:none;
    font-size: 25px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}

/* notification bar desktop */


.childrenContainer--botonLinkeable_venta_telefonica{
    margin-top: 20px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 20px;
   }

   .childrenContainer--botonLinkeable_atencion_al_cliente{
    margin-top: 20px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 20px;
   }
   .childrenContainer--botonLinkeable_whatssap{
    margin-top: 20px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 20px;
   }




