:global(.vtex-store__template) {
    --promotions-color: #ffed00;
    --green-offers: #289e36;
    --discounts: #7ac537;
    --dynamic-texts: #843a8d;
    --card-descriptions: #c47373;
    --promotion-flags: #525252;
  }

/* menu hamburguesa header */
  .logoLink--icon_hamb {
    margin-top: 20px;
  }

  .logoImage--icon_login{
    margin-top: 10px;
  }
  
  .logoImage--icon_login{
    border-radius: 10px;
    margin-left: 20px;
  }

  .logoImage--icon_listas_pedidos{
    margin-top: 20px;
  }


 .flexRow--banner_inicio_home{
  border-radius: 5px;
 }
/* Border radius a las imagenes */
 .imageElement{
  border-radius: 20px;
 }

 /* Logo desktop */
 .logoImage--logo_olimpica{
  height: 50px;
  width: 5000px;
 }
 /* Logo mobile */
 .logoImage--logo_olimpica_mobile{
  width: 300px;
  height: 80px;
}

/* notification bar home */
.notificationBarContainer--notification_bar{
  background-color: #000000;
}

/* search bar mobile */
.searchBarContainer{
  background-color: #e90026;
 /*  width: 100%; */
}


/* imagen colchon grid */
.imageElement--promotion-image{
  height: 490px;
}

/* border radius al search bar */
:global(.vtex-input-prefix__group){
  border-radius: 30px;
 
}

/* search bar desktop */
.searchBarInnerContainer--Barra_busqueda_inteligente{
  width: 600px;
}

@media (max-width: 688px) {
  .searchBarInnerContainer--Barra_busqueda_inteligente{
    width: 500px;
    margin-left: 30px;
  }
}


@media (max-width: 280px) {
  .searchBarInnerContainer--Barra_busqueda_inteligente{
    width: 150px;
  }
}
@media (max-width: 400px) {
  .searchBarInnerContainer--Barra_busqueda_inteligente{
    width: 200px;
  }
}

/* imahen footer */
.imageElement--image_footer{
  border-radius: 0;
}


/* imagen acerca de nosotros */
.imageElement--image_acerca-de-nosotros{
  box-shadow: 0 3px 5px rgb(0 0 0 / 11%);
    border: 1px solid hsla(0,0%,43.9%,.19);
    border-radius: 23px;
    padding: 20px;
    margin-right: 10px;
}


/* botones */
:global(.vtex-button){
  background-color: #e90026;
  border-color: #e90026;
  border-radius: 20px;
}

:global(.vtex-button__label){
  background-color: none;
  
 
}





