.galleryItem--normal {
    border-color: rgb(139, 138, 138);
    border: 1px solid;
    margin-top: 30px;
    margin-bottom: 5px;
    border-radius: 30px;
}

.galleryItem--small {
    border-color: rgb(139, 138, 138);
    border: 1px solid;
    height: 500px;
    border-radius: 30px;

}

.gallery--many {
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 520px;


}

.galleryItem--whole {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 500px;
    width: 600px;
    background-color: aqua;
}

/* .galleryItem--whole {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 200px;
} */


.galleryItem--two {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 420px;
    max-width: 50%;
}

@media (min-width:414px) and (max-width:623px) {
    .galleryItem--two {
        margin-top: 10px;
        margin-bottom: 20px;
        max-width: 15%;
        height: 400px;

    }
}

.gallery--two {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.orderByButton {
    background-color: #e90026;
}

.galleryLayoutSwitcher {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: unset;
    align-content: center;
}

.galleryTitle--layout {
    font-size: 30px;
}


:global(.vtex-search-result-3-x-galleryItem) {
    border-color: rgb(200, 200, 202);
}


.gallery--grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

.galleryItem--grid{
    max-width: 40%;
}

  
/* botones list grid */
/* .galleryItem--normal :global(.vtex-button) {
    background-color: #2c2c2c;
    border-radius: 14px;
    border: 1px solid #2c2c2c;
    color: rgb(117, 28, 28);
    cursor: pointer;
    height: 46px;
    margin-left: 20px;
   
    outline: none;
    padding: 15px;
  }  */



  .galleryItem--normal :global(.vtex-button) {
    background-color: #e90026;
    border-color: #e90026;
    border-radius: 20px;
    height: 46px;
  
  } 