.paragraph--info_terms--one {
    color: white;
    text-align: center;
}

.paragraph--text_boletin {
    color: white;
    text-align: center;
    font-size: 20px;
}

.wrapper--text_boletin {
    margin-top: 70px;
}

/* textos info mobile tablet footer  */
.wrapper--text_mobile-footer {
    width: 350px;
}

.paragraph--text_mobile-footer {
    text-align: center;
    color: white;
}

.paragraph--siguenos_footer-mobile {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat-soft';
}

.paragraph--texto_tablet--footer {
    font-size: 10px;
    color: white;
}

@media (max-width: 410px) {
    .paragraph--texto_tablet--footer {
        display: none;
    }
}


.container--siguenos_footer-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* textos info final footer */
.paragraph--text_info__final-Desktop{
    text-align: center;
    font-size: 12px;
    color: #607d8b;
}

.paragraph--compra_segura{
    text-align: center;
    font-size: 15px;
    color: white;
}

.container--text_boletin{
    display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;
}