.styledLinkContent--txt_category-footer{
    color: rgb(255, 255, 255);
    font-size: 15px;
}

/* textos informacion footer */
.styledLinkContent--txt_menu-item{
    color: rgb(203, 196, 196);
    font-size: 12px;  
}

.styledLinkContent{
    width: 400px;
    color: rgb(164, 158, 158);
}


/* conteneror informacion all col footer desktop */
.styledLinkContent--txt_category-footer{
    width: 100px;
}

.styledLinkContent--txt_menu-item{
    width: 100px;
}


/* background sub items */
.submenuWrapper--isOpen{
    background-color: #30393e;
}

.styledLinkContent--container__menu-item__footer{
    width: 200px;
}
